body {
    background-color: rgb(210, 210, 255);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h2, h3 {
    text-align: left;
    font-size: 30px;
}

h3 {
    top: 18px;
    z-index: 0;
    left: 875px;
}


img[alt="Game Info"] {
    position: absolute;
    top: 120px; 
    left: 10px; 
    z-index: 2;
}


.container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.radio-label {
    display: block;
    text-align: center;
    cursor: pointer;
}

table {
    width: 350px;
    height: 350px;
    border-collapse: collapse;
    background-color: rgb(220, 220, 255);
}

th, td {
    border: 1px solid black;
}

h4 {
    text-align: center;
    font-size: 40px;
}

button {
    font-family: sans-serif;
    font-size: 50px;
    border: 1px solid black;
    padding: 10px 150px 10px 150px;
    display: block;
    margin: 0 auto;
    cursor: pointer; 
    background-color: rgb(220, 220, 255);
}

#right-container img {
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.2s, left 0.2s;
}

.brain {
  width: 15%;
  position: absolute;
}

#character {
 z-index: 100;
  width: 15%;
}